@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}
button {
  cursor: pointer;
  border: none;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul li{
  list-style: none;
}